!.gitignore
!.gitkeep
/bitrix/
/upload
/.idea

log.txt
robots.txt

.DS_Store
.access.php
*.zip
*.log
*.pdf
/.git/*
*.xls
.htpasswd
*.git
/.ssh/*
robots.txt
test.php
test2.php
/*.xml
*.log
awstats
web.config
storage.php
.htaccess
error.log
error.log.*
nxs.html
nxs.php
