.page {display: flex; justify-content: stretch; flex-direction: column; min-height: 100%; }
.page__cnt {flex-grow: 1; display: flex; flex-direction: column;}

@media only screen and (max-width: 1580px) {
	.page:has(.navbar) {padding-left: 36px;}
}

@media only screen and (max-width: 1239px) {
	.page:has(.navbar) {padding-left: 46px;}
}

@media only screen and (min-width: 992px) {
	.page {/*overflow-x: hidden;*/}
}

@media only screen and (max-width: 991px) {
	.page:has(.navbar) {padding-left: 0;}
}

@media only screen and (max-width: 767px) {

}
