.search {}
.search__header {}
.search__group {border-bottom: 1px solid #F0F0F0; padding: 0 0 20px 0; margin: 0 0 21px 0;}
.search__group-header {margin-bottom: 16px;}
.search__group-title {font-size: 14px; color: #9E9E9E;}
.search__group-title-link {color: inherit; text-decoration: none;}
.search__group-title-link:hover {color: var(--color-brand); text-decoration: none;}
.search__group:last-child {border-bottom: 0; padding-bottom: 0;}

@media only screen and (max-width: 1239px) {

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}
