.title {font-size: 16px; font-weight: 500;}
.title__data {display: inline-flex; color: inherit; text-decoration: none;}
.title__data_link:hover {color: var(--color-brand); text-decoration: none;}
.title__arrow {width: 12px; height: 12px; margin-right: 6px; top: 0.2em;}
.title__arrow_type-1 {width: 16px; height: 16px; margin-right: 16px; top: 0.15em;}
.title__text {}
.title_bold {font-weight: bold;}
.title_font-custom {font-family: var(--font-custom);}
.title_size-1 {font-size: 18px; }
.title_size-2 {font-size: 20px; }

@media only screen and (max-width: 1239px) {

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}