.tooltip {display: inline-flex; color: #9E9E9E; position: relative;}
.tooltip__icon {width: 20px; height: 20px; cursor: pointer;}

@media only screen and (max-width: 1239px) {

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}
