:root {
    --font-default: Inter, sans-serif;
    --font-custom: Rubik, sans-serif;
    --color-default: #4C4C4C;
    --color-dark: #262424;
    --color-light: #ffffff;
    --color-brand: #DE4141;
    --color-red: #D73831;
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}